.about {
  background-color: $grey-color;
}

.about__header p {
  font-size: 16px;
  line-height: 22px;
}

.about__description h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: $accent-color;
}

.about__list {
  color: $white-color;
  background-color: $accent-color;
}
