.button {
  &--text {
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    letter-spacing: calc(12px * 2 / 100);
    text-transform: uppercase;
    text-decoration: none;
    color: $accent-color;
  }
}

.button svg {
  padding: 13px;
  color: $white-color;
  background-color: $accent-color;
}
