.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 4px;
  border-width: 1px;
  border-style: solid;
  border-radius: 30px;

  &::before,
  &::after {
    content: "";
    width: 34px;
    height: 34px;
  }

  &::before {
    position: absolute;
    right: 4px;
    border-radius: 30px;
  }

  &::after {
    mask-image: var(--bgi);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 8px 8px;
  }

  &--accent {
    color: $accent-color;
    border-color: $accent-color;
  }

  &--accent::before {
    background-color: $accent-color;
  }

  &--accent::after {
    background-color: $white-color;
  }

  &--text {
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    letter-spacing: calc(1em * 2 / 100);
    text-transform: uppercase;
    text-decoration: none;
  }

  &--text span {
    margin-left: 16px;
    margin-right: 20px;
  }

  &--icon-arrow {
    --bgi: url("/__spritemap#sprite-arrow-view");
  }

  &--icon-thin-arrow {
    --bgi: url("/__spritemap#sprite-arrow-thin-view");
  }

  &--icon-burger {
    --bgi: url("/__spritemap#sprite-burger-view");
  }

  &--icon-burger::after {
    mask-size: 16px 8px;
  }
}


// &--vk {
//   --bgi: url("/__spritemap#sprite-vk-view");
// }

// &--ok {
//   --bgi: url("/__spritemap#sprite-ok-view");
// }

// &--reddit {
//   --bgi: url("/__spritemap#sprite-reddit-view");
// }

// &::before {
//   content: "";
//   position: relative;
//   display: block;
//   width: 12px;
//   height: 12px;
//   background-color: $white-color;
//   mask-image: var(--bgi);
//   mask-repeat: no-repeat;
//   mask-position: center;
//   mask-size: contain;

// .button {

//   align-items: center;
//   justify-content: space-between;
//   padding: 4px;
//   border: 1px solid $accent-color;


//   &--text {
//     @include viewport-tablet {
//       font-size: 14px;
//       line-height: 14px;
//     }
//   }

//   &--text span:not(.button__icon) {
//     margin-left: 16px;
//     margin-right: 20px;

//     @include viewport-tablet {
//       margin-left: 26px;
//       margin-right: 30px;
//     }
//   }

//   &--light {
//     color: $accent-color;
//   }

//   &--light svg {
//     color: $white-color;
//   }

//   &--no-border {
//     padding: 0;
//     border: 0;
//   }
// }

// .button__icon {
//   display: block;
//   padding: 13px;
//   background-color: $accent-color;
//   border-radius: 100%;

//   @include viewport-tablet {
//     padding: 19px;
//   }

//   &--small {
//     padding: 11px;
//   }
// }

// .button__icon svg {
//   display: block;
// }
