.button {
  display: inline-flex;
  align-items: center;
  padding: 4px;
  border: 1px solid $accent-color;
  border-radius: 30px;

  &--text {
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    letter-spacing: calc(12px * 2 / 100);
    text-transform: uppercase;
    text-decoration: none;
  }

  &--text span:not(.button__icon) {
    margin-left: 16px;
    margin-right: 20px;
  }

  &--light {
    color: $accent-color;
  }

  &--light svg {
    color: $white-color;
  }
}

.button__icon {
  display: block;
  padding: 13px;
  background-color: $accent-color;
  border-radius: 100%;
}

.button svg {
  display: block;
}
