.footer {
  padding: 40px 0;

  @include viewport-desktop {
    padding: 60px 0 40px;
  }
}

.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  @include viewport-tablet {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
  }

  @include viewport-desktop {
    justify-content: start;
    column-gap: 52px;
  }
}

.footer__logo {
  @include viewport-desktop {
    order: 1;
  }
}

.footer__navigation {
  flex: 1 0 auto;
  padding: 10px 0;

  @include viewport-tablet {
    padding: 0;
  }

  @include viewport-desktop {
    order: 2;
    flex-grow: 1;
  }
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;

  @include viewport-tablet {
    align-items: flex-start;
    margin-bottom: 0;
  }

  @include viewport-desktop {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    order: 4;
    width: 100%;
  }
}

.footer__social {
  display: flex;
  flex-direction: row;
  gap: 10px;

  @include viewport-desktop {
    gap: 20px;
    order: 3;
    justify-self: end;
  }
}
