.footer {
  padding: 40px 0;
}

.footer__inner {
  display: grid;
  grid-template-areas:
    "logo"
    "navigation"
    "copyright"
    "social";
  justify-items: center;
}

.footer__logo {
  // justify-self: center;
}

.footer__navigation {
  // justify-self: center;
}
