.form {
  padding: 40px 0;
  color: $white-color;
  background-color: $grey-color;

  @include viewport-tablet {
    margin: 0;
    padding: 50px 0;
  }

  @include viewport-desktop {
    padding: 60px 0;
  }
}

.form__bg {
  padding: 43px 0 40px;
  background-image:
    image-set(
      url("../../img/form/form-bg-mobile@2x.webp") type("image/webp") 2x,
      url("../../img/form/form-bg-mobile@1x.webp") type("image/webp") 1x,
      url("../../img/form/form-bg-mobile@2x.jpg") type("image/jpg") 2x,
      url("../../img/form/form-bg-mobile@1x.jpg") type("image/jpg") 1x
    );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include viewport-tablet {
    padding: 0;
    background-image: none;
  }
}

.form .container {
  padding: 0 10px;

  @include viewport-tablet {
    padding: 0 58px;
  }

  @include viewport-desktop {
    padding: 0 100px;
  }
}

.form__inner {
  border-radius: 16px;

  @include viewport-tablet {
    background-image:
      image-set(
        url("../../img/form/form-bg-tablet@2x.webp") type("image/webp") 2x,
        url("../../img/form/form-bg-tablet@1x.webp") type("image/webp") 1x,
        url("../../img/form/form-bg-tablet@2x.jpg") type("image/jpg") 2x,
        url("../../img/form/form-bg-tablet@1x.jpg") type("image/jpg") 1x
      );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @include viewport-desktop {
    background-image:
      image-set(
        url("../../img/form/form-bg-desktop@2x.webp") type("image/webp") 2x,
        url("../../img/form/form-bg-desktop@1x.webp") type("image/webp") 1x,
        url("../../img/form/form-bg-desktop@2x.jpg") type("image/jpg") 2x,
        url("../../img/form/form-bg-desktop@1x.jpg") type("image/jpg") 1x
      );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.form__wrapper {
  padding: 15px 15px 27px;
  background-color: $accent-color;
  border-radius: 16px;

  @include viewport-tablet {
    max-width: 442px;
    padding: 30px 40px;
  }

  @include viewport-desktop {
    max-width: 490px;
    padding: 30px 70px;
  }
}

.form__title {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 22px;

  @include viewport-tablet {
    margin-bottom: 20px;
    padding: 11px 0;
    font-size: 28px;
    line-height: 28px;
  }

  @include viewport-desktop {
    padding: 14px 0;
    font-size: 32px;
    line-height: 36px;
  }
}

.form__description {
  margin: 0;
  margin-bottom: 20px;
  color: $grey-color;

  @include viewport-tablet {
    margin-bottom: 40px;
    font-size: 16px;
  }

  @include viewport-desktop {
    line-height: 26px;
  }
}

.form__feedback {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__group {
  &--select,
  &--textarea {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &--select {
    margin-right: 10px;

    @include viewport-tablet {
      margin-right: 0;
    }
  }

  &--select .form__label span {
    @include viewport-desktop {
      line-height: 14px;
    }
  }
}

.form__label-wrapper {
  position: relative;

  @include viewport-tablet {
    padding-right: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 17px;
    right: 20px;
    width: 16px;
    height: 16px;
    background-color: $white-color;
    mask-image: url("../../img/sprite/arrow-down.svg");
    mask-size: 16px;
    mask-position: center;
    mask-repeat: no-repeat;
    pointer-events: none;
  }
}

.form__label {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &--agreement .custom-br {
    @include viewport-tablet {
      display: none;
    }
  }
}

.form__label span {
  font-size: 12px;
  line-height: 14px;
  color: $grey-color;
  opacity: 0.8;

  @include viewport-tablet {
    font-size: 14px;
    line-height: 20px;
  }

  @include viewport-desktop {
    line-height: 18px;
  }
}

.form__label--agreement span {
  color: $white-color;
  opacity: 1;

  @include viewport-tablet {
    font-size: 12px;
    line-height: 12px;
  }
}

.form__button {
  align-self: stretch;
  margin-right: 10px;

  @include viewport-tablet {
    margin-top: 20px;
    margin-bottom: 6px;
  }

  @include viewport-desktop {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
