.hero {
  // padding: 94px 0 20px;
}

.hero__slider {
  // padding: 94px 0 20px;
}

.hero__slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: $hero-slider;
  padding: 94px 0 20px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $accent-color;
    opacity: 0.2;
  }
}

.hero__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.hero__title {
  padding: 20px 14px 16px;
  font-size: 22px;
  line-height: 26px;
  color: $accent-color;
  background-color: $white-color;
  border-radius: 0 16px 16px 0;
}

.hero__content p {
  position: relative;
  max-width: 267px;
  margin: 0;
  padding: 0 14px 15px;
  font-size: 16px;
  background-color: $white-color;
  border-bottom-right-radius: 16px;

  &:first-of-type::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 16px;
    height: 20px;
    background-color: $white-color;
    mask-image:
      linear-gradient(to top, $accent-color, $accent-color),
      radial-gradient(16px 20px, $black-color 50%, transparent 51%);
    mask-size: 50% 50%, 100%;
    mask-position: top left, center;
    mask-repeat: no-repeat, no-repeat;
    mask-composite: subtract;
  }
}

.hero__buttons {
  position: relative;
  width: min-content;
  padding: 10px 15px;
  background-color: $white-color;
  border-radius: 0 0 16px 16px;

  &:first-of-type::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 20px;
    height: 20px;
    background-color: $white-color;
    mask-image:
      linear-gradient(to top, $accent-color, $accent-color),
      radial-gradient(20px 20px, $black-color 50%, transparent 51%);
    mask-size: 50% 50%, 100%;
    mask-position: top left, center;
    mask-repeat: no-repeat, no-repeat;
    mask-composite: subtract;
  }
}

.hero__pagination {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 12px;
  width: fit-content;
  padding: 10px 16px;
  background-color: $white-color;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  order: -1;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 20px;
    height: 20px;
    background-color: $white-color;
    mask-image:
      linear-gradient(to top, $accent-color, $accent-color),
      radial-gradient(20px 20px, $black-color 50%, transparent 51%);
    mask-size: 50% 50%, 100%;
    mask-position: bottom left, center;
    mask-repeat: no-repeat, no-repeat;
    mask-composite: subtract;
  }
}

.hero__pagination .swiper-pagination-bullet {
  border: 2px solid $accent-color;
}
