.list {
  @include reset-list;

  &--advantages .list__item::before,
  &--advantages .list__item::after {
    content: "";
    position: absolute;
  }

  &--advantages .list__item::before {
    top: -23px;
    left: -21px;
    width: 42px;
    height: 42px;
    background-color: $white-color;
    mask-image: url("../../img/sprite/star.svg");
    mask-size: 50%;
    mask-position: center;
    mask-repeat: no-repeat;
    z-index: 2;
  }

  &--advantages .list__item::after {
    top: -1px;
    left: -1px;
    width: 22px;
    height: 20px;
    background-color: $accent-color;
  }

  &--grant .list__item p {
    font-weight: 400;
  }
}

.list__item {
  position: relative;
  padding: 15px 20px;
  border: 1px solid $white-color;
  border-radius: 16px;

  @include viewport-desktop {
    padding: 30px 40px;
  }
}

.list__item h4 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: calc(1em * 1 / 100);
  text-transform: uppercase;
  color: inherit;

  @include viewport-tablet {
    font-size: 20px;
    line-height: 22px;
  }

  @include viewport-desktop {
    margin-bottom: 0;
    font-size: 26px;
    line-height: 30px;
  }
}

.list__item p {
  margin: 0;
  font-weight: 300;
  color: $grey-color;

  @include viewport-tablet {
    font-size: 16px;
  }
}
