.navigation__list {
  @include reset-list;

  &--footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 20px;

    @include viewport-tablet {
      gap: 15px;
    }

    @include viewport-desktop {
      justify-content: start;
      gap: 30px;
    }
  }
}

.navigation__link {
  color: $text-color;
  text-decoration: none;

  @include viewport-tablet {
    font-size: 16px;
    line-height: 20px;
  }

  @include viewport-desktop {
    line-height: 17px;
  }
}
