.privacy {
  position: relative;

  // display: inline-flex;
  // flex-direction: column;
  // gap: 2px;
  // padding-bottom: 2px;
  color: $text-color;
  text-decoration: none;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 2px;
    background-color: $text-color;
  }
}
