.programs__title {
  @include viewport-desktop {
    padding: 5px 0;
  }
}

.programs__swiper {
  @include viewport-tablet {
    overflow: visible;
  }

  @include viewport-desktop {
    overflow: hidden;
  }
}

.programs__link span {
  margin-left: 26px;
  margin-right: 30px;
}
