.program-card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $overlay-blue-color;
  }
}

.program-card__title {
  flex: 1 0 100%;
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 18px;

  @include viewport-tablet {
    font-size: 20px;
    line-height: 14px;
  }

  @include viewport-desktop {
    font-size: 24px;
    line-height: 17px;
  }
}

.program-card__image img {
  display: block;
  width: 100%;
  height: revert-layer;
  object-fit: cover;
}

.program-card__content {
  position: absolute;
  right: 10px;
  bottom: 18px;
  left: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 16px;
  padding: 18px 18px 15px;
  background-color: $white-color;
  border-radius: 12px;
  clip-path: polygon(0 42px, 0 12px, 0 12px, 0.12px 9.72px, 0.48px 7.68px, 1.08px 5.88px, 1.92px 4.32px, 3px 3px, 4.32px 1.92px, 5.88px 1.08px, 7.68px 0.48px, 9.72px 0.12px, 12px 0, 134px 0, 134px 0, 136.28px 0.12px, 138.32px 0.48px, 140.12px 1.08px, 141.68px 1.92px, 143px 3px, 144.08px 4.32px, 144.92px 5.88px, 145.52px 7.68px, 145.88px 9.72px, 146px 12px, 146px 24px, 146px 24px, 146.18px 27.42px, 146.72px 30.48px, 147.62px 33.18px, 148.88px 35.52px, 150.5px 37.5px, 152.48px 39.12px, 154.82px 40.38px, 157.52px 41.28px, 160.58px 41.82px, 164px 42px, calc(100% - 12px) 42px, calc(100% - 12px) 42px, calc(100% - 9.72px) 42.12px, calc(100% - 7.68px) 42.48px, calc(100% - 5.88px) 43.08px, calc(100% - 4.32px) 43.92px, calc(100% - 3px) 45px, calc(100% - 1.92px) 46.32px, calc(100% - 1.08px) 47.88px, calc(100% - 0.48px) 49.68px, calc(100% - 0.12px) 51.72px, calc(100% - 0px) 54px, calc(100% - 0px) calc(100% - 12px), calc(100% - 0px) calc(100% - 12px), calc(100% - 0.12px) calc(100% - 9.72px), calc(100% - 0.48px) calc(100% - 7.68px), calc(100% - 1.08px) calc(100% - 5.88px), calc(100% - 1.92px) calc(100% - 4.32px), calc(100% - 3px) calc(100% - 3px), calc(100% - 4.32px) calc(100% - 1.92px), calc(100% - 5.88px) calc(100% - 1.08px), calc(100% - 7.68px) calc(100% - 0.48px), calc(100% - 9.72px) calc(100% - 0.12px), calc(100% - 12px) calc(100% - 0px), 12px calc(100% - 0px), 12px calc(100% - 0px), 9.72px calc(100% - 0.12px), 7.68px calc(100% - 0.48px), 5.88px calc(100% - 1.08px), 4.32px calc(100% - 1.92px), 3px calc(100% - 3px), 1.92px calc(100% - 4.32px), 1.08px calc(100% - 5.88px), 0.48px calc(100% - 7.68px), 0.12px calc(100% - 9.72px), 0 calc(100% - 12px), 0 42px);

  @include viewport-tablet {
    right: 20px;
    bottom: 10px;
    left: 20px;
    clip-path: polygon(0 42px, 0 12px, 0 12px, 0.12px 9.72px, 0.48px 7.68px, 1.08px 5.88px, 1.92px 4.32px, 3px 3px, 4.32px 1.92px, 5.88px 1.08px, 7.68px 0.48px, 9.72px 0.12px, 12px 0, calc(100% - 123px) 0, calc(100% - 123px) 0, calc(100% - 120.72px) 0.12px, calc(100% - 118.68px) 0.48px, calc(100% - 116.88px) 1.08px, calc(100% - 115.32px) 1.92px, calc(100% - 114px) 3px, calc(100% - 112.92px) 4.32px, calc(100% - 112.08px) 5.88px, calc(100% - 111.48px) 7.68px, calc(100% - 111.12px) 9.72px, calc(100% - 111px) 12px, calc(100% - 111px) 20px, calc(100% - 111px) 20px, calc(100% - 110.82px) 23.42px, calc(100% - 110.28px) 26.48px, calc(100% - 109.38px) 29.18px, calc(100% - 108.12px) 31.52px, calc(100% - 106.5px) 33.5px, calc(100% - 104.52px) 35.12px, calc(100% - 102.18px) 36.38px, calc(100% - 99.48px) 37.28px, calc(100% - 96.42px) 37.82px, calc(100% - 93px) 38px, calc(100% - 12px) 38px, calc(100% - 12px) 38px, calc(100% - 9.72px) 38.12px, calc(100% - 7.68px) 38.48px, calc(100% - 5.88px) 39.08px, calc(100% - 4.32px) 39.92px, calc(100% - 3px) 41px, calc(100% - 1.92px) 42.32px, calc(100% - 1.08px) 43.88px, calc(100% - 0.48px) 45.68px, calc(100% - 0.12px) 47.72px, calc(100% - 0px) 50px, calc(100% - 0px) calc(100% - 12px), calc(100% - 0px) calc(100% - 12px), calc(100% - 0.12px) calc(100% - 9.72px), calc(100% - 0.48px) calc(100% - 7.68px), calc(100% - 1.08px) calc(100% - 5.88px), calc(100% - 1.92px) calc(100% - 4.32px), calc(100% - 3px) calc(100% - 3px), calc(100% - 4.32px) calc(100% - 1.92px), calc(100% - 5.88px) calc(100% - 1.08px), calc(100% - 7.68px) calc(100% - 0.48px), calc(100% - 9.72px) calc(100% - 0.12px), calc(100% - 12px) calc(100% - 0px), 12px calc(100% - 0px), 12px calc(100% - 0px), 9.72px calc(100% - 0.12px), 7.68px calc(100% - 0.48px), 5.88px calc(100% - 1.08px), 4.32px calc(100% - 1.92px), 3px calc(100% - 3px), 1.92px calc(100% - 4.32px), 1.08px calc(100% - 5.88px), 0.48px calc(100% - 7.68px), 0.12px calc(100% - 9.72px), 0 calc(100% - 12px), 0 42px);
  }

  @include viewport-desktop {
    right: 51px;
    bottom: 17px;
    min-height: 123px;
    clip-path: polygon(0 42px, 0 12px, 0 12px, 0.12px 9.72px, 0.48px 7.68px, 1.08px 5.88px, 1.92px 4.32px, 3px 3px, 4.32px 1.92px, 5.88px 1.08px, 7.68px 0.48px, 9.72px 0.12px, 12px 0, 182px 0, 182px 0, 184.28px 0.12px, 186.32px 0.48px, 188.12px 1.08px, 189.68px 1.92px, 191px 3px, 192.08px 4.32px, 192.92px 5.88px, 193.52px 7.68px, 193.88px 9.72px, 194px 12px, 194px 23px, 194px 23px, 194.18px 26.42px, 194.72px 29.48px, 195.62px 32.18px, 196.88px 34.52px, 198.5px 36.5px, 200.48px 38.12px, 202.82px 39.38px, 205.52px 40.28px, 208.58px 40.82px, 212px 41px, calc(100% - 12px) 41px, calc(100% - 12px) 41px, calc(100% - 9.72px) 41.12px, calc(100% - 7.68px) 41.48px, calc(100% - 5.88px) 42.08px, calc(100% - 4.32px) 42.92px, calc(100% - 3px) 44px, calc(100% - 1.92px) 45.32px, calc(100% - 1.08px) 46.88px, calc(100% - 0.48px) 48.68px, calc(100% - 0.12px) 50.72px, calc(100% - 0px) 53px, calc(100% - 0px) calc(100% - 12px), calc(100% - 0px) calc(100% - 12px), calc(100% - 0.12px) calc(100% - 9.72px), calc(100% - 0.48px) calc(100% - 7.68px), calc(100% - 1.08px) calc(100% - 5.88px), calc(100% - 1.92px) calc(100% - 4.32px), calc(100% - 3px) calc(100% - 3px), calc(100% - 4.32px) calc(100% - 1.92px), calc(100% - 5.88px) calc(100% - 1.08px), calc(100% - 7.68px) calc(100% - 0.48px), calc(100% - 9.72px) calc(100% - 0.12px), calc(100% - 12px) calc(100% - 0px), 12px calc(100% - 0px), 12px calc(100% - 0px), 9.72px calc(100% - 0.12px), 7.68px calc(100% - 0.48px), 5.88px calc(100% - 1.08px), 4.32px calc(100% - 1.92px), 3px calc(100% - 3px), 1.92px calc(100% - 4.32px), 1.08px calc(100% - 5.88px), 0.48px calc(100% - 7.68px), 0.12px calc(100% - 9.72px), 0 calc(100% - 12px), 0 42px);
  }
}

.program-card__content p {
  flex: 1 1 188px;
  margin: 0;
  font-size: 12px;
  line-height: 14px;

  @include viewport-tablet {
    flex: 1 0 202px;
    font-size: 14px;
    line-height: 20px;
  }

  @include viewport-desktop {
    align-content: center;
    min-height: 54px;
    line-height: 18px;
  }
}

.program-card__link {
  flex: 0 0 auto;
  align-self: auto;

  &::before,
  &::after {
    width: 30px;
    height: 30px;
  }

  // @include viewport-desktop {
  //   align-items: start;
  // }
}
